.footer_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */


  color: #FFFFFF;
  text-decoration: none;
  padding-right: 18px;
}

.footer_link:hover {
  opacity: 0.8;
}
