.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    height: 200px;
    margin: 0;
    text-align: center;
    padding: 56px 280px 0 280px;
}