.cover__background {
  position: relative;
  z-index: 1;

  display: flex;
  background-image: url(../../../images/cover-trains.jpg);
  min-height: 740px;
  background-size: cover;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
    
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 450px;
  }
}

@media screen and (max-width: 480px) {
  .cover__background {
    min-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
