.cover {
  margin: 92px auto;
  max-width: 92.5%;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 90px 0 88px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 100%;
    margin: 16px 0 64px;
  }
}
