.cover__overlay::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  content: '';
  opacity: .3;
  transition: .8s;
}

.cover__overlay:hover::before {
  opacity: .8;
  transition: .8s;
}
