.website__link {
  margin: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;
  color: #FFFFFF;
}

.website__link:hover {
  opacity: 0.8;
}
