.intro__title {
    width: 690px;
    height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    padding-left: 148px;
    padding-top: 92px;
}